/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global */

/* common */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

#container{
    width: 80%;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* common */

/* header */

.menu{
    margin-bottom: 30px;
}

#logo img{
    height: 110px;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
}

nav{
    margin: 40px 0;

}

nav li{
    /* porto gli elementi della lista in riga */
    display: inline;
    /* nel caso in cui il testo non fosse inserito in maiuscolo lo fa in automatico */
    text-transform: uppercase;
    /* elimina i pallini vicino agli elementi */
    list-style: none; 
    /* lo uso per separare ulteriormente gli elementi */
    padding-right: 10px;
}

nav li a{
    /* elimina la sottolineatura agli elementi */
    text-decoration: none;
    color: #858585;
}

/* header */

/* main */

.banner{
    /* imposto l'altezza del mio div "banner" a 500px */
    height: 650px;
    position: relative;
    color: white;
}

.overlay{
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
}

.banner img{
    /* dico alla immagine inserita nel div "banner" di occupare l'intera sezione tramite height e width */
    width: 100%;
    height: 100%;
    /* dico di adattare l'immagine allo spazio che possiede facendolo tagliare e riadattare */
    object-fit: cover;
}

#banner-text{
    width: 50%;
    position: absolute;
    bottom: 40px;
    margin-left: 50px;
}

#banner-text>h3{
    font-size: 35px;
    font-weight: 500;
}

.container-main{
    margin-top: 40px;
    width: 100%;
    margin-bottom: 30px;
}

.top{
    width: 100%;
    height: 80px;
}

.top>h3{
    font-size: 35px;
}

.top>p{
    color: #858585;
}

.sidebar{
    float: left;
    position: relative;
}

.left,
.right{
    width: calc(100% / 5);
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    width: calc(100% / 5 * 3 - 20px);
    margin: 0px 10px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-right{
    height: 300px;
    width: calc(100% / 5);
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    position: relative;
    border-radius: 10px;
    height: 300px;
    width: 100%;
}

.sidebar h3{
    color: black;
    font-weight: 500;
    margin: 15px 0;
}

.sidebar p{
    color: #858585;
}
/* main */

footer{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
}

p>span{
    color: red;
    font-size: 25px;
}